@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@500&display=swap');
body {
    font-size: 15pt;
    color: white;
}
*{
  margin: 0;
  padding: 0;
}
#wrap{
  width: 70vw;
  text-align: center;
}
#bghex{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sixVal{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
#advice{
  font-family: 'Raleway', sans-serif;
}